<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdaN_sKwb_4PwKqxXpGWutQ_Pvppf4_t0</string>
	<key>GCM_SENDER_ID</key>
	<string>513922666254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brint.AlphaCityStampTour</string>
	<key>PROJECT_ID</key>
	<string>alphacity-9ff3a</string>
	<key>STORAGE_BUCKET</key>
	<string>alphacity-9ff3a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513922666254:ios:08f125e6afb40a1fcb915f</string>
</dict>
</plist>