<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.alphacity.stamptour</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alphacity</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>kakao-login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaod47f7264eacf91989b2045ee206de4b5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>naver-login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.alphacity.stamptour.naverlogin</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>kakaoplus</string>
		<string>kakaotalk</string>
		<string>naversearchthirdlogin</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>현재 위치를 지도에 표시하고 가까운 스탬프 장소를 안내하기 위해 위치 권한이 필요합니다.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
